{% extends 'layouts/base.html.twig' %}

{% block title %}Safer - Accueil
{% endblock %}

{% block body %}
	<main id="main">
		{{include('home/parties/section.html.twig')}}
		{{include('home/parties/show.html.twig')}}
	</main>
{% endblock %}
