
<section class="intro-single">
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single">SAFER - A propos</h1>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							A Propos
						</li>
					</ol>
				</nav>
			</div>
            <div class="col-md-12 col-lg-3"></div>
            <div class="col-md-12 col-lg-6">
                <p>Notre agence immobilière SAFER est fière de vous offrir un service de qualité supérieure dans le domaine de l'immobilier. Nous sommes une équipe professionnelle et passionnée, dévouée à aider nos clients à réaliser leurs rêves immobiliers.</p>

                <p>Notre agence est basée dans la région depuis de nombreuses années et nous avons développé une solide réputation en tant qu'experts dans notre domaine. Nous avons une vaste gamme de propriétés à notre disposition : terrains agricoles, prairie, bois, batîments, exploitaions. Nos biens sont soit disponibles à l'achat ou à la location.</p>

                <p>Nous sommes également là pour vous conseiller et vous orienter tout au long de votre transaction immobilière.</p>

                <p>Nous sommes impatients de travailler avec vous et de vous aider à réaliser vos projets immobiliers. N'hésitez pas à nous contacter pour en savoir plus sur nos services et comment nous pouvons vous aider.</p></div>
            <div class="col-md-12 col-lg-3"></div>
			</div>
		</div>
	</div>
</section>