{% extends 'layouts/base.html.twig' %}

{% block title %}Safer Biens
{% endblock %}

{% block body %}
	<main
		id="main">
		{#Intro Single #}
		{{ include('bien/partials/single.html.twig')}}
	</main>
{% endblock %}
